/* COLOUR PALETTE */

:root {
    --baby-blue: #b1d4e0;
    --misty-blue: #afc1d0;
    --navy-blue: #1c3f60;
    --black: #0b1320;
}

/* GLOBAL STYLES */

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1rem = 10px */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

body {
    background-color: var(--navy-blue);
    margin: 0;
    font-family: "Rubik", serif;
    font-size: 1.5rem;
    line-height: 1.4;
}

h1,
h2,
h3 {
    font-family: "Courgette", serif;
    font-weight: 400;
    margin: 0;
    color: var(--black);
}

h1 {
    font-size: 5rem;
    line-height: 1;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

/* LINKS */

a {
    color: var(--black);
}

a:hover {
    color: var(--muddy-waters);
    text-decoration: none;
}

.btn {
    background-color: var(--navy-blue);
    color: #f6f6f6;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    display: inline-block;
    padding: 7px;
    letter-spacing: 0.1em;
    line-height: 1;
    border-radius: 4px;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 200px;
}

/* CONTAINER */

.container {
    max-width: 800px;
    margin: 20px auto;
    background: var(--baby-blue);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    line-height: 1.6;
    color: var(--black);
}

ul {
    padding-left: 20px;
}

/* QUOTE STYLE */

.quote {
    font-style: italic;
    color: var(--navy-blue);
    padding: 10px;
    border-left: 4px solid var(--misty-blue);
    margin: 10px 0;
}

/* CODE SECTION */

pre {
    background-color: var(--misty-blue);
    padding: 10px;
    border-radius: 5px;
    font-family: monospace;
    overflow-x: auto;
}

code {
    font-family: monospace;
}

/* VIDEO */

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Images */
img {
    max-width: 100%;
    height: auto;
    display: block;
    /* Prevents extra space below images */
    margin: 0 auto;
    /* Centers the image */
}